_get_completion_func() {
  local defs=( $(complete -p $1) )
  local defs_len=${#defs[@]}
  local function_name=${defs[$defs_len - 2]}
  echo $function_name
}
{{- range .Commands }}

# -----------------------------------
# uss completion wrapper for {{ .Name }}
# -----------------------------------
COMPLETION_USS_{{ .NameUpper }}_FUNC=$(_get_completion_func {{ .Name }})

_completion_uss_{{ .Name }}() {
  local word_len=${#COMP_WORDS[@]}
  local last_word="${COMP_WORDS[$word_len - 1]}"
  local last_word_trim=${last_word#"\""}

  if [[ "$last_word_trim" == "uss"* ]]; then
    local IFS=$'\n'
    {{ .SetOption }}
    COMPREPLY=($(GO_FLAGS_COMPLETE_URI=1 uss "$last_word"))
  else
    # call the underlying completion
    $COMPLETION_USS_{{ .NameUpper }}_FUNC
  fi
}

if [[ "$COMPLETION_USS_{{ .NameUpper }}_FUNC" != "_completion_uss_{{ .Name }}" ]]; then
  complete{{ .ConfigOption }} -F _completion_uss_{{ .Name }} {{ .Name }}
fi

{{- end }}
