_get_completion_func() {
  local defs=( $(complete -p $1) )
  local defs_len=${#defs[@]}
  local function_name=${defs[$defs_len - 2]}
  echo $function_name
}

_completion_remove_quote() {
  local input="$1"
  if [[ "$input" == \"* ]]; then
    echo "${input#\"}"
  else
    echo "${input#\'}"
  fi
}
{{- range .Commands }}

# -----------------------------------
# uss completion wrapper for {{ .Name }}
# -----------------------------------
if [[ -z "$COMPLETION_USS_{{ .NameUpper }}_FUNC" ]]; then
  COMPLETION_USS_{{ .NameUpper }}_FUNC=$(_get_completion_func {{ .Name }})
fi

_completion_uss_{{ .Name }}() {
  local last_word="${COMP_WORDS[$COMP_CWORD]}"
  local last_word_trim="$(_completion_remove_quote "$last_word")"

  if [[ "$last_word_trim" == "uss"* ]] || [[ "$last_word_trim" == "@uss"* ]]; then
    local IFS=$'\n'
    {{ .SetOption }}
    COMPREPLY=($(GO_FLAGS_COMPLETE_URI=1 uss "$last_word"))
    return 0
  else
    # call the underlying completion
    $COMPLETION_USS_{{ .NameUpper }}_FUNC
  fi
}

complete{{ .ConfigOption }} -F _completion_uss_{{ .Name }} {{ .Name }}
{{- end }}
